.card {
  display: block;
  border-radius: 6px;
  padding: 10px 15px;
  transition: all .2s;
  text-align: justify;
  word-wrap: normal;
  background: #f0f0f0;
  color: #373737;
  box-shadow: 0 2px 6px 0px rgba(0,0,0,.4);
}

.card > .btn {
  display: block;
}


/* BUTTON */
.btn {
  display: block;
  padding: 10px 18px;
  text-decoration: none;
  margin: 10px auto;
  color: #fff;
  border-radius: 4px;
  transition: all 0.2s;
  text-align: center;
}

.btn:active {
  transform: translateY(4px);
}

.btn-primary {
  background: #4285F4;
  box-shadow: 0 6px 0 #0d47a1;
}
.btn-primary:active {
  box-shadow: 0 4px 0 #0d47a1, 0 0 4px #666;
}

.btn-secondary {
  background: #aa66cc;
  box-shadow: 0 6px 0 #9933CC;
}
.btn-secondary:active {
  box-shadow: 0 4px 0 #9933CC, 0 0 4px #666;
}

.btn-success {
  background: #2eb82e;
  box-shadow: 0 6px 0 #007E33;
}
.btn-success:active {
  box-shadow: 0 4px 0 #007E33, 0 0 4px #666;
}

.btn-warning {
  background: #ffbb33;
  box-shadow: 0 6px 0 #FF8800;
}
.btn-warning:active {
  box-shadow: 0 4px 0 #FF8800, 0 0 4px #666;
}

.btn-danger {
  background: #FF4444;
  box-shadow: 0 6px 0 #CC0000;
}
.btn-danger:active {
  box-shadow: 0 4px 0 #CC0000, 0 0 4px #666;
}

.btn-info {
  background: #33b5e5;
  box-shadow: 0 6px 0 #0099CC;
}

.btn-info:active {
  box-shadow: 0 4px 0 #0099CC, 0 0 4px #666;
}

.btn-default {
  background: #2BBBAD;
  box-shadow: 0 6px 0 #00695c;
}

.btn-default:active {
  box-shadow: 0 4px 0 #00695c, 0 0 4px #666;
}